table {
    width: 100%;    
 }
 .col1Image
 {
    width: 70%;
    background:#F5F6FA;
    border-color: black;
    border-radius: 50%;
 }
 .mat-column-column1
 {
    flex: 0 0 7% !important;
 }
 .mat-column-DatasetName
 {
    justify-content: center;
 }
 .mat-column-Filesize
 {
    justify-content: center;
 }
 .mat-column-LastUpdatedDate
 {
    flex: 0 0 16% !important;
 }
 .mat-column-Dependency
 {
    justify-content: center;
 }
 .mat-column-Accuracy
 {
    justify-content: center;
 }
 .mat-column-Action
 {
    justify-content: center;
 }
 .Action1
 {
    width: 23%;    
    border-color: black;
    border-radius: 50%;
    margin: 0px 0px 0px 10px;
 }
 .Action2
 {
    width: 23%;    
    border-color: black;
    border-radius: 50%;
    margin: 0px 0px 0px 10px;
 }
 .Action3
 {
    width: 23%;   
    border-color: black;
    border-radius: 50%;
    margin: 0px 0px 0px 10px;
 }
 .mat-table.mat-table.cdk-table
 {
    background: rgba(0, 0, 0, 0);
 }
 ::ng-deep .mat-paginator-container {
    background-color: lightgray !important;
}

.mat-row:hover {
   background-color: white;
 }

 .dataSetContainer
{
    padding: 16px;
    background-color:#F5F6FA;
    border-radius: 25px;
    margin: 0 0 0 0;
}

.containerPadding
{
   padding: 0 15px 0 15px;
}

.toolBar
{
display: block;
}

.breadcrumb {
    background-color: #F5F6FA;
    display: flex;
    align-items: center;
    font-size: 12px;
  }

.breadcrumbLine
{
    width:100%;
    text-align:left;
    margin-left:0
}

mat-slider {
    width: 100%;
  }

::ng-deep .mat-slider-thumb {
    background-color: dodgerblue !important;
}

::ng-deep .mat-slider-ticks
{
    background-color: dodgerblue !important;
}

::ng-deep .mat-slider-thumb-label
{
    background-color: dodgerblue !important;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex 
{    
    border-radius: 15px 16px 15px 15px !important;
}

::ng-deep .mat-form-field-underline {
    display: none;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex 
{
    padding: 0em 0em 0em 0em !important;
}

::ng-deep .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label
{
    display: none !important;
}

::ng-deep .mat-form-field-empty.mat-form-field-label
{
    margin: 0px 0px 0px 10px;
}

.matSearch
{
    float: right;
    margin: -20px 0px 0px 0px;
}
::ng-deep .mat-tab-body-wrapper {
    margin-bottom: 1.5rem !important;
}

::ng-deep .mat-form-field
{
   width: 100%;
   margin: 10px 0 0 0;
}

.columnHeader
{
    color: #b8b9bc;
    font-size: 18px;
    font-family: Calibri;
    text-decoration: none;
}
.uploadButton
{
    background-color: #2683FC;
    font-size: 18px;
    font-family: Calibri;
    color:#FFFFFF;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    padding: 0em 0em 0em 1em !important;
    background: transparent;
    border-style: solid;
    border-color: #2683FC;
}
::ng-deep .mat-datepicker-toggle-default-icon
{
    color:#2683FC;
}
::ng-deep .row {
    display: block;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.filterSection
{
    max-width: 90%;
    margin: 0 0 0 33px; 
}
.dataSetNameFontStyle
{
    color:#3C3C41;
    text-decoration-color:#3C3C41;
    text-decoration: underline;
}
