<div class="landing-background">
  <div class="img-background">
    <img src="assets/images/data-management.png" alt="Landing Page">
    <div class="content-login">{{authStatus}}</div>
  </div>
  <div class="img-logo">
    <img src="assets/images/logo.png">
  </div>
</div>
<div class='loader'>
  <div class='loader--dot'></div>
  <div class='loader--dot'></div>
  <div class='loader--dot'></div>
  <div class='loader--dot'></div>
  <div class='loader--dot'></div>
  <div class='loader--dot'></div>
</div>