/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.fontStyle
{
    font-family: Calibri;
}
.tableCellFont
{
    font-family: Calibri;
    font-size: 18px;
    font-weight: bold;
    color:#B8B9Bc;
}
.pageTitleFont {
    font-family: Calibri;   
    font-size: 36px;
    color: #3c3c41;
    font-weight: bold;
  }
  .breadcrumb
  {
    font-family: Calibri;   
    font-size: 18px;
    color: #48484D;
  }
  .cdk-global-overlay-wrapper, .cdk-overlay-container { z-index: 9999!important; } 