.logo
{
    width: 25%;
}

::ng-deep .navbar-nav {
    display: flex;
    flex-direction: inherit;   
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

::ng-deep .navbar .container-fluid
{
    display: inline-block;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

::ng-deep .navbar-default .navbar-nav>.active>a
{
    color: dodgerblue;
    text-decoration-color: dodgerblue;
    text-decoration: underline;
    background-color: white;
}

::ng-deep .navbar-default
{
    background-color: white;
}