<!-- <p>headers works!</p> -->
<!-- <app-header fxLayout="column"></app-header> -->

<nav *ngIf="isUserLoggedin" class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li style="margin: 0 -80px 0 0;"><img src="assets/img/logo.png" class="logo"></li>
      <li [ngClass]="{ 'active':activeTab==='home'}"><a href="javascript: void(0);"
          (click)="loadScreen('dashboard')">Home</a></li>
      <li [ngClass]="{ 'active':activeTab==='dataSet'}"><a href="javascript: void(0);"
          (click)="loadScreen('dataSet')">DataSet</a></li>
      <li><a href="#">Discovery</a></li>
      <li><a href="#">Insights</a></li>
      <li><a href="#">Admin</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-th"></span></a></li>
      <li><a href="#"><i class="fa fa-bell"></i><span class="counter counter-lg">99</span></a></li>
      <li><a href="#">UserName</a></li>
    </ul>
  </div>
</nav>