.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.data-summary {
  font-family: Calibri;
  font-size: 36px;
  color: #3c3c41;  
}
.label-heading {
  font-family: Calibri;
  font-size: 20px;
  color: #acabab;
}
.content {
  font-family: Calibri;
  font-size: 20px !important;
  color: #3c3c41;
}
.content2 {
  font-family: Calibri;
  font-size: 18px !important;
  color: #3c3c41;
}
.content1 {
  font-family: Calibri;
  font-size: 24px !important;
  color: #3c3c41;
}
.badge-circle {
  border-radius: 50% !important;
  padding: 1rem !important;
}
.badge-rows {
  background-color: #9ADB81;
}
.badge-features {
  background-color: #FB9A67;
}
.badge-dependency {
  background-color: #EC7F80;
}
.badge-accuracy {
  background-color: #61A3F8;
}
.col1Image
 {
    width: 20%;
    background: white;
    border-color: black;
    border-radius: 50%;
 }
 .mat-column-column1
 {
    flex: 0 0 11% !important;
 }
 .mat-column-FeatureName
 {
    justify-content: center;
    font-weight: bold;
 }
 .mat-column-Description
 {
    justify-content: center;
    text-align: center;
 }
 .mat-column-DataType
 {
    justify-content: center;
 }
 .mat-column-UniqueData
 {
    justify-content: center;
 }
 .mat-column-MissingData
 {
    justify-content: center;
 }
 .mat-column-Action
 {
    justify-content: center;
 }
 .Action1
 {
    width: 23%;    
    border-color: black;
    border-radius: 50%;
    margin: 0px 0px 0px 10px;
 }
 .Action2
 {
    width: 23%;    
    border-color: black;
    border-radius: 50%;
    margin: 0px 0px 0px 10px;
 }
 .Action3
 {
    width: 23%;   
    border-color: black;
    border-radius: 50%;
    margin: 0px 0px 0px 10px;
 }
 .mat-table.mat-table.cdk-table
 {
    background: rgba(0, 0, 0, 0);
 }
 ::ng-deep .mat-paginator-container {
    background-color: lightgray !important;
}

.mat-row:hover {
   background-color: white;
 }

 /* ***************** */

 .containerPadding
{
   padding: 0 15px 0 15px;
}

.dataSetContainer
{
    padding: 16px;
    background-color:#F5F6FA;
    border-radius: 25px;
    margin: 0 0 0 0;
}

.breadcrumb {
  background-color: #F5F6FA;
  display: flex;
  align-items: center;
  font-size: 12px;
}

.breadcrumbLine
{
    width:100%;
    text-align:left;
    margin-left:0
}

.summaryButtonStyle
{
  color: #FFFFFF;
  background-color: #2683FC;
  border-radius: 10px;
}

.explainButtonStyle
{
  color: #3C3C41;
}

.toggleButton
{
  border-radius: 10px;
}

.columnHeader
{
    color: #b9babd;
    font-size: 18px;
    font-family: Calibri;
    text-decoration: none;
}